body {
	background-image: url(../images/footer_lodyas.png);
	background-size: 2000px;
	padding-bottom: 40px;
}

h1 {
	background: #4aaaa5;
	border-style: solid;
	border-color: #4aaaa5;
	border-radius: 5px;
}

footer {
	padding-top: 40px;
}

span {
	height: 40px;
}
#profile {
	padding-right: 10px;
	height: 100px;
	width: 100px;
}

#name-sake {
	width: 650px;
	padding: 15px;
	background-color: #fff;
	border-radius: 10px;
}

#page-links {
	padding-top: 15px;
}


#social-links {
	background-color: #fff;
	border-radius: 15px;
}

#grid-display img:hover {
	opacity: 0.5;
}

#grid-display a {
	padding: 5px;
}
